.page {
    h1 {
        // padding-left: 15px;
        color: #6d0001;

    }
    .serviceBox {
        // border: 2px solid #6d0001;
        margin: 0 auto;
        margin-top: 10px;
     
    }
    h3 {
color: #6d0001;
    }
    .boxImg1 {
        background-image: url(../images/plantSan.jpg);
       	height: 250px;

    }
    .boxImg2 {
        background-image: url(../images/plantSan.jpg);
       	height: 250px;
    }
    .boxImg3 {
        background-image: url(../images/plantSan.jpg);
       	height: 250px;
    }
}
