<img src="images/altanta.jpg" alt="" class="banners">

<div class="wrapper">
    <h1>About TMC</h1>
    <hr>
    <div class="page about">
        <p>Thornwell Maintenance Corporation is the success story of a classic American tale of hard work and perseverance starting in 1987. We are the complete cleaning solution: building maintenance, janitorial services, and food sanitation for industrial plants. The dedication and personalized attention to detail is the reason why clients have continued to use our services for the last 29 years.</p>
        <ol>
        <br>
            <li><b>Safety</b>
                <br> All employees undergo an initial probationary period. They are trained in proper cleaning techniques/correct operating procedures for equipment and supplies. We use PPE to minimize exposure to workplace injuries. Safety is our number one priority.
            </li>
            <br>
             <li><b>Accountability</b>
                <br> TMC strongly believes in the necessity of close and thorough supervision. We carefully detail each employee’s duties to them, oversee their work, and systematically check to make certain their work remains at a consistently high level.


            </li>
            <br>
             <li><b>Controls</b>
                <br> A system of controls based upon periodic evaluation by the management of TMC, such as log books, inspections and walk-throughs, insures an open and aggressive line of communication in accomplishing the intended goal of providing quality service.


            </li>
        </ol>
    </div>
</div>
