<img src="images/interior-banner.jpg" alt="" class="banners">
<div class="wrapper">
    <h1>Thornwell Maintenance Company</h1>
    <hr>
    <div class="page home">
        <p>
            Thornwell Maintenance Corporation is the success story of a classic American tale of hard work and perseverance starting in 1987. We are the complete cleaning solution: building maintenance, janitorial services, and food sanitation for industrial plants. The dedication and personalized attention to detail is the reason why clients have continued to use our services for the last 28 years.
        </p>
    </div>
    <br>
    <br>
    <h1>Client Testimonials</h1>
    <hr>
    <div class="page home">
        <div class="row">
            <div class="col-md-4">
                <blockquote>
                    “The contractor’s knowledge of the business, their enthusiasm and professionalism, as well as the delivery of the service – from day to day operations to special requests is extremely impressive.”
                </blockquote>
                <br>
                <p>Chris Georges
                    <br> Environmental Health &amp; Safety Coordinator
                </p>
            </div>
            <div class="col-md-4">
                <blockquote>
                    “Since Thornwell Maintenance Corporation took over our maintenance, I have had no problems with cleaning crews. They are honest, hard working, dependable people.”
                </blockquote>
                <br>
                <p>Bud Hollingsworth
                    <br> Senior Vice President
                    <br> Venture Construction Company
                    <br>
                </p>
            </div>
            <div class="col-md-4">
                <blockquote>
                    “The contractor’s knowledge of the business, their enthusiasm and professionalism, as well as the delivery of the service – from day to day operations to special requests is extremely impressive.”
                </blockquote>
                <br>
                <p>Chris Georges
                    <br> Environmental Health &amp; Safety Coordinator
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h1>Current and Past Clients</h1>
    <hr>
    <div class="page home">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>BANC Financial Group
                    </li>
                    <li>Graphic Food Packaging
                    </li>
                    <li>Griffith Laboratories U.S.A. Inc.
                    </li>
                </ul>
            </div>
       
        <div class="col-md-4">
            <ul>
                <li>BravePoint, Inc.
                </li>
                <li>Coldwell Banker (multiple facilities)
                </li>
                <li>Graphic Packaging International
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>Mc Cart Insurance
                </li>
                <li>McCormick, Inc.
                </li>
                <li>Venture Construction Co.
                </li>
            </ul>
        </div>
        </div>
    </div>
