<div class="wrapper">
        <h1>Services</h1>
        <hr>

    <div class="page services">
        <p>
            Here are TMC we offer blag blah 
        </p>
        <div class="row">
            <a href="#!/plant-sanitation">
                <div class="col-md-4">
                    <div class="serviceBox boxImg1">
                       <h3>PLANT SANITATION</h3>
                    </div>
                </div>
            </a>
            <a href="#!/janitorial">
                <div class="col-md-4">
                    <div class="serviceBox boxImg2">
                        <h3>JANITORIAL</h3>
                    </div>
                </div>
            </a>
            <a href="#!/building-maintenance">
                <div class="col-md-4">
                    <div class="serviceBox boxImg3">
                       <h3>BULIDING MAINTENANCE</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
